.bar-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.bar {
  height: 20px;
  background-color: #4caf50;
  text-align: center;
  color: white;
}

.pitstop {
  background-color: #f44336; /* Kırmızı renkte pitstoplar */
}
