body {
  margin: 0;
  background-color: black !important;
}
@font-face {
  font-family: "F1";
  src: url("./assets/fonts/Formula1-Regular_web_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.blink {
  animation: blinker 3.9s alternate infinite;
}

.blink2 {
  animation: blinker2 0.4s alternate infinite;
}

@keyframes blinker {
  15% {
    color: black;
  }
  30% {
    color: cyan;
    text-shadow: 2px 2px 4px black;
  }
  55% {
    text-shadow: 2px 2px 5px cyan;
  }
  100% {
    color: black;
    opacity: 0.3;
  }
}

@keyframes blinker2 {
  6% {
    color: yellow;
  }
  30% {
    color: black;
  }
  75% {
    color: yellow;
  }
  50% {
    color: black;
  }
}

tr {
  color: red;
}

.list-group-mine .list-group-item {
  border: 2px solid;
  border-color: red;
}

.cp {
  cursor: pointer;
}

.cp:hover {
  cursor: pointer;
  border: 1px dashed teal;
  box-sizing: border-box;
}

.ch {
  cursor: help;
}

/* .op {
  opacity: 0.9;
} */

.carousel-item {
  transition: opacity 4s ease-in-out !important;
}
li {
  transition: opacity 2s ease !important;
}

.bg-gradient {
  background-image: var(--bs-gradient);
}

* {
  scrollbar-width: thin;
  scrollbar-color: black red;
}

/* Tabloları tek bir sırada hizalamak için Flexbox kullanıyoruz */
.table-container {
  display: flex;
  flex-wrap: nowrap; /* Tablo satırlarının tek bir satırda olmasını sağlar */
  overflow-x: auto; /* Eğer tablo genişliği çoksa, yatay kaydırma barı ekler */
}

.table-fade {
  animation: fadeIn 1s ease;
  opacity: 0;
  display: inline-block; /* Her bir tabloyu yatayda hizalamak için */
  margin-right: 10px; /* Tablolar arasında boşluk bırakmak için */
}

.table-fade-in {
  opacity: 1 !important; /* FadeIn animasyonunu tetikleyen sınıf */
}

/* Animasyon efekti */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  50% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.small-text {
  font-size: 12px; /* Varsayılan font boyutu */
}

@media (max-width: 768px) {
  .small-text {
    font-size: 10px; /* Tablet ve daha küçük ekranlar için font boyutunu küçült */
  }
}

@media (max-width: 480px) {
  .small-text {
    font-size: 18px; /* Mobil ekranlar için daha küçük font boyutu */
  }
}

.vertical-text {
  width: 1px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.myTable {
  border-collapse: separate;
}

tr {
  font-size: 0.9em;
}

table td,
table th {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.Mui-selected {
  color: white !important;
}

.align-all-middle td {
  vertical-align: middle;
}

.table-no-padding td {
  padding: 0 !important;
}

.position-change {
  font-size: 14px;
  color: #f39c12;
  font-weight: bold;
  margin-left: 10px;
}

.text-pit {
  color: #c084fc !important; /* lila tonu */
}

.mirror {
  transform: scaleX(-1) !important;
}
