body {
  margin: 0;
  font-family: monospace;
  background-color: black !important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.blink {
  animation: blinker 3.9s alternate infinite;
}

.blink2 {
  animation: blinker2 0.4s alternate infinite;
}

@keyframes blinker {
  15% {
    color: black;
  }
  30% {
    color: cyan;
    text-shadow: 2px 2px 4px black;
  }
  55% {
    text-shadow: 2px 2px 5px cyan;
  }
  100% {
    color: black;
    opacity: 0.3;
  }
}

@keyframes blinker2 {
  6% {
    color: yellow;
  }
  30% {
    color: black;
  }
  75% {
    color: yellow;
  }
  50% {
    color: black;
  }
}

tr {
  color: red;
}

.list-group-mine .list-group-item {
  border: 2px solid;
  border-color: red;
}

.cp {
  cursor: pointer;
}

.cp:hover {
  cursor: pointer;
  border: 4px dashed teal;
  box-sizing: border-box;
}

.ch {
  cursor: help;
}

.op {
  opacity: 0.9;
}

thead th {
  background-color: red !important;
  color: black !important;
}

.carousel-item {
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  text-align: center;
}

.bg-gradient {
  background-image: var(--bs-gradient);
}
