body {
  margin: 0;
  font-family: monospace;
  background-color: black !important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.tableColumnFixed {
  table-layout: fixed;
}

.blink {
  animation: blinker 0.01s linear infinite;
  background-color: rgba(0, 0, 0);
  color: red;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
@keyframes blinker {
  5% {
    color: rgba(255, 0, 0, 0.8);
  }

  1% {
    color: white;
  }
}

tr {
  color: red;
}

.list-group-mine .list-group-item {
  border: 2px solid;
  border-color: red;
}

.cp {
  cursor: pointer;
}

select {
  font-size: 30px !important;
  text-align: center;
}

.raceComplete {
}

.raceNotComplete {
  
}

.op{
  opacity: 0.8;
}



.carousel img{

}
/* 
img:hover {
  transform: scaleX(-1);
} */

thead th {
  background-color: red !important;
  color: black !important;
}